# {{ ansible_managed }}
[global]
conference_mapper = {{ jigasi.conference_mapper }}
host_name = {{ jitsi_meet_domain }}

[room_passwords]
# e.g. testing123 = 123

[known_callers]
# e.g. 4156833272 = stefanor
