# {{ ansible_managed }}

[Desktop Entry]
Version=1.0
Name=Nageru
Exec=nageru --http-port {{ nageru.http_port }} --num-cards=3 --theme=/var/cache/nageru/debconfvideo.lua --recording-dir=/srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}/ --input-mapping=/var/cache/nageru/debconfvideo.mapping
Icon=camera-video
Type=Application
Terminal=true
Categories=AudioVideo;
