# {{ ansible_managed }}
[vogol]
server_url = https://{{ vogol.server_name }}
host = localhost
recordings = {{ vogol.recordings }}
room_name = {{ room_name }}
video_only_sources = {{ vogol.video_only_sources|default([])|join(', ') }}

{% if vogol.presets is defined %}
{% for id_, preset in vogol.presets.items() %}
[preset:{{ id_ }}]
name = {{ preset.name }}
video_a = {{ preset.video_a }}
{% if preset.video_b is defined %}
video_b = {{ preset.video_b }}
{% endif %}
composite_mode = {{ preset.composite_mode }}
audio_solo = {{ preset.audio_solo|join(', ') }}
{% endfor %}
{% endif %}

{% if vogol.gitlab_client_id is defined -%}
[auth:gitlab]
client_id = {{ vogol.gitlab_client_id }}
client_secret = {{ vogol.gitlab_client_secret }}
url = {{ vogol.gitlab_url }}
name = {{ vogol.gitlab_name }}
{% if vogol.gitlab_group is defined -%}
group = {{ vogol.gitlab_group }}
{% endif -%}
{% endif -%}
