# {{ ansible_managed }}
#
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ streaming.backend.server_name }};

  ssl_certificate /etc/ssl/ansible/certs/streaming_backend.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/streaming_backend.key;

  add_header Strict-Transport-Security max-age=15768000;

  root {{ streaming.backend.data_root }}/www;

  index index.html;

  location /live {
    alias {{ streaming.backend.data_root }}/hls/multi ;
  }
  location /dash {
    alias {{ streaming.backend.data_root }}/dash/ ;
  }

{% if streaming.dump %}
  location /dump/ {
    alias {{ streaming.backend.data_root }}/dump/;
    fancyindex on;
    fancyindex_exact_size off;

    mp4;
    mp4_buffer_size    1m;
    mp4_max_buffer_size  100m;
  }
{% endif %}

  access_log /var/log/nginx/streaming-backend-access.log;
  error_log /var/log/nginx/streaming-backend-error.log;
}
